h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
}
body{
  background-color: #292929;
}
.formulario {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/formBg.png);
  margin-bottom: 200px;
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000;
  font-family: "MBF", sans-serif;
}

.boton {
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 42%;
  background: linear-gradient(89.92deg, #29C480 0.05%, #40CD76 0.06%, #79E35C 98.41%, #7EE45A 98.42%);
  ;
  color: #000;
  font-weight: 700;
}

.cargar {
  cursor: pointer;
  border-radius: 15px;
  padding-top: 20px;
  font-size: small;
}

.fila {
  background: linear-gradient(89.92deg, #29C480 0.05%, #40CD76 0.06%, #79E35C 98.41%, #7EE45A 98.42%);
  ;
  color: #000;
  border-radius: 15px;
}
.fila::placeholder{
  color: #000;
  font-weight: 700;
}
.pFila{
  margin-top: 5%;
  color: #29C480;
  font-size: 25px;
}
.pInput{ 
  color: #29C480;
  margin-top: -3%;
  font-size: 20px;
}
.pCheckbox{ 
  color: #29C480;
  font-size: 20px;
}
@media (max-width: 768px) {
  .boton {
    margin-left: 30%;
  }
}

